@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
:root {
    --paper: rgb(248, 246, 223);
    --xiketic: #150b0e;
    --firebrick: #b13126;
}

* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}

body {
    background-color: var(--paper);
}

h1 {
    font-size: 5rem;
    font-family: 'Crimson Pro', sans;
    font-weight: 200;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.4rem;
}
p {
    line-height: 1.4rem;
    letter-spacing: 0.1rem;
}
a {
    text-decoration: none;
    color: var(--xiketic);
}
.link-active {
    opacity: 1;
    font-weight: bold;
}
.key-words {
    font-weight: bold;
}

.hover-links:hover,
button#email-icon:hover {
    color: var(--paper);
    background-color: var(--firebrick);
    cursor: pointer;
    opacity: 1;
}

.root-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.page-container {
    background-color: var(--paper);
    height: 100%;
    padding: 0 0.6rem 3rem;
    overflow-y: scroll;
}

/* header component */
header.top-header {
    padding: 0.6rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
}
button#email-icon.hover-links {
    display: flex;
    align-items: flex-end;
}

button#email-icon {
    display: inline-block;
    border: none;
    background-color: var(--paper);
    opacity: 0.8;
}
button#email-icon:hover {
    display: flex;
    align-items: center;
}
button#email-icon #envelope-open {
    display: none;
    margin-right: 0.6rem;
}

button#email-icon #envelope-closed {
    display: inline;
    margin-right: 0.6rem;
}

button#email-icon:hover #envelope-open {
    display: inline;
}

button#email-icon:hover #envelope-closed {
    display: none;
}

/* Main nav*/
.nav {
    background-color: var(--paper);
    z-index: 20;
    width: 100%;
    padding: 0.7rem 0rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.nav-link {
    list-style: none;
    list-style-type: none;
    opacity: 0.75;
}

.nav-link:hover {
    opacity: 1;
}

/* index page */

#index-img {
    background-image: url('https://images.ctfassets.net/8zae7nvz50pi/293cX3nSEpbEQDAzexXoHj/fba2efeebf10ca2308f9efbcba863bcb/marcus-new.jpg');
    background-color: #70c9db;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: cover;
    height: 96%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: height 500ms ease-in;
}
.index-heading.end {
    text-align: right;
}
.index-heading h1 {
    cursor: default;
    font-size: 2.8rem;
    padding: 2rem 0;
}
.index-heading h1 span {
    font-family: 'Rubik Puddles', 'Work Sans';
    transition: letter-spacing 400ms ease-in-out, font-size 200ms ease-in-out;
    color: var(--firebrick);
    font-size: 2.8rem;
    text-transform: uppercase;
    word-break: keep-all;
    line-height: 3rem;
}
.index-heading h1 span:hover {
    font-size: 3rem;
}
/* about page */
.who h2 {
    padding: 1rem 0;
}
.about-content-container .image-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.about-content-container img {
    border: 4px solid var(--firebrick);
    border-radius: 2px;
    height: auto;
    max-width: 200px;
}
/*resume */
.comp-list {
    display: flex;
    flex-direction: column;
    border-left: 1px var(--xiketic) solid;
}
.title-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    gap: 1rem;
}
.resume-item {
    display: flex;
    justify-content: center;
}
.resume-button {
    box-shadow: 0px 4px 0px 0px var(--firebrick);
    background-color: var(--paper);
    border-radius: 2rem;
    border: 1px solid var(--firebrick);
    display: inline-block;
    cursor: pointer;
    padding: 1rem;
    height: min-content;
    text-decoration: none;
    color: var(--xiketic);
    transition: box-shadow 100ms ease-in, background-color 100ms ease-in,
        color 100ms ease-in, margin 100ms ease-in;
}
.resume-button:hover {
    margin-top: -6px;
    box-shadow: 0px 8px 0px 0px var(--xiketic);
    background-color: var(--firebrick);
    color: var(--paper);
}
.resume-button:active {
    margin-top: 8px;
    box-shadow: 0px 0px 0px 0px var(--xiketic);
    background-color: var(--xiketic);
}
.dot {
    height: 30px;
    width: 30px;
    border: 1px var(--xiketic) solid;
    background-color: var(--firebrick);
    border-radius: 50%;
    margin-left: -3.1rem;
    align-self: flex-start;
    z-index: 15;
    transition: background-color 400ms ease-in-out;
}
.exp-item:hover .dot {
    background-color: var(--xiketic);
}

.exp-item {
    list-style-type: none;
    /* margin-right: 2rem; */
    display: flex;
    flex-direction: column;
}
.exp-item h3 {
    margin: 0.4rem 0;
}

.exp-item .desc {
    max-width: 30ch;
}

.exp-item p.school-name {
    color: gray;
}

.exp-item p.desc {
    line-height: 1.4rem;
    font-size: 14px;
}
/*Projects*/
.project-list {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    padding-left: 0;
    padding-bottom: 4rem;
}
.project-list li {
    list-style-type: none;
}

.project-list .img-container {
    border: 5px solid var(--firebrick);
    background-color: white;
    object-fit: cover;
    max-height: 400px;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: margin 100ms ease-in, box-shadow 100ms ease-in;
}
.project-list .img-container:hover {
    margin: -5px 0 5px;
    box-shadow: 0px 4px 0px 0px var(--xiketic);
}
.project-list img {
    width: 100%;
    height: auto;
}
.project-item h2 {
    padding-bottom: 1rem;
}
.project-text {
    padding: 1rem 0;
}
.project-links {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}
/* KontaktModal */
.contact-modal-show {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
}
.contact-modal-hide {
    display: hidden;
}
@media only screen and (min-width: 900px) {
    .page-container {
        padding: 0 3rem;
        overflow-y: visible;
    }
    .page-container > h1 {
        padding: 1rem;
    }

    .nav {
        padding: 1.2rem 0;
        gap: 3rem;
    }

    #index-img {
        height: 93%;
    }
    .index-heading h1 {
        padding: 2rem 2rem;
        font-size: 6.2rem;
    }
    .index-heading h1 span {
        font-size: 6.2rem;
        letter-spacing: 0.2rem;
    }
    .index-heading h1 span:hover {
        font-size: 6.4rem;
        letter-spacing: 0.5rem;
    }
    .title-section {
        margin: 2rem 2rem;
    }

    .about-content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-content-container .image-container {
        width: 50%;
        object-fit: cover;
        align-items: center;
    }
    .about-content-container img {
        max-width: 300px;
        height: auto;
    }
    .about-text {
        display: flex;
        flex-direction: column;
    }
    .about-text .who {
        display: flex;
        gap: 2rem;
    }
    .who p {
        max-width: 50%;
    }
    .resume-item {
        margin-bottom: 3rem;
    }

    .resume-item h2 {
        margin-bottom: 3rem;
        padding: 1rem;
    }

    .exp-item h3 {
        margin: 1rem 0;
    }
    .project-list {
        align-items: center;
    }
    .project-list li {
        max-width: 80%;
    }
}

@media only screen and (min-width: 1225px) {
    #index-img {
        height: 90%;
    }
    .index-heading h1 {
        padding: 3rem;
    }
    .index-heading h1 span {
        font-size: 7rem;
    }
    .index-heading h1 span:hover {
        letter-spacing: 0.6rem;
        font-size: 7.5rem;
    }
    .about-content-container {
        flex-direction: row;
        justify-content: center;
    }
    .about-content-container .image-container {
        max-width: 40%;
    }
    .about-content-container .image-container img {
        max-width: 50%;
    }
    .about-text {
        flex-direction: column;
        max-width: 40%;
    }
    .about-text .who {
        flex-direction: column;
        gap: 0;
    }
    .who p {
        max-width: none;
    }
    .comp-list {
        flex-direction: row;
        border-top: 1px var(--xiketic) solid;
        border-left: none;
        justify-content: space-between;
        width: 100%;
        padding-top: 1rem;
        margin-top: 4rem;
    }
    .dot {
        margin-top: -2rem;
        margin-bottom: 2rem;
        margin-left: 0;
        justify-self: center;
        transition: background-color 500ms ease-out;
    }
    .to-top-link {
        display: none;
    }
    .project-list li {
        max-width: 50%;
    }
}
